@import url('https://fonts.googleapis.com/css2?family=Atma:wght@700&display=swap');

:root {
    --first-color: #2c0755;
    --second-color: #4e31aa;
    --third-color: #cc3363;
    --fourth-color: #1efc1e;
    --fifth-color: #eaf7cf;

}
  
  body {
    font-family: Atma;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  #log-in {
    display: flex;
    justify-content: space-between;
    align-items:center ;
    height: 100vh; 
    background: var(--second-color);
    
  }
  .left-container{
    margin: auto;
    display: flex;
    height: 100vh;
    width: 100vh;
    justify-content: center;
    align-items: center;
    display: flex; 
  }
  
  
  .left-div {
    
    width: 550px;
    height: 300px;
    border-radius: 65px;
    border: #260D52;
    list-style:inside;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    margin:20px;
    border: 30px;
    
  }
  .info {
    height: 300px;
    width: 300px;
    margin-left: 30px;
    display: flexbox;
    flex-direction: column;
    align-items: center;
  }
  
  .name h1{ 
    
    color: #fff;
    font-family: Atma;
    font-size: 100px;
    
  }
h1{
    margin-top:0px;
    margin-bottom:0px;
}
  
  .slogan{
    display:flexbox;
    font-family: Atma;
    color: var(--first-color);
    font-size: 15px;
    text-align: center;
  }
img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    border: 5px var(-first-color) 30px;
    
    
}
  
  

  .right-container {
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;
  }
  
  .right-div {
    align-items: center; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
  }
  .right-content {

    height: 600px;
    width: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

  }

  form {
    justify-content: center;
    align-items: center;
    display: flexbox;
    margin: 10px;
  }
  .google{
    justify-content: center;
    align-items: center;
  }
  
  
  .txt {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    justify-content: center;
    font-family: Atma;
    color: #f2f2f2;
    text-shadow: #260D52;
  }
  .txt-2 {
    text-align: center;
    font-size: 15px;
    font-style: italic;
    justify-content: center;
    font-family: Atma;
    color: #f2f2f2;
    text-shadow: #260D52;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  input {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 300px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 3px solid rgba(103, 37, 168, 0.80);
    background: #D9D9D9;
  }
 .button-container{
    
    display: flexbox;
    width: 160px;
    height: 55px;
    flex-shrink: 0;
   
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
 }
 .btn-submit{
    font-family: Arial, sans-serif;

    width: 157px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 30px;
   
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgba(103, 37, 168, 0.80);
 }
  
  
  
